.navbar-light .navbar-nav .nav-link{
    color: black;

    &:hover{
        color:#6cb2eb;
    }
}
.btn-outline-success {
    color: #6cb2eb;
    border-color: #6cb2eb;

    &:hover{
        color: #6cb2eb;
    }
}
footer{
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 15px;
    border-top: 5px solid black;
}
@media only screen and (max-width: 760px) {

}
@media only screen and (max-width: 370px) {

}
