nav #logo-nav{
    padding-right: 60px;
}
nav #open-cart{
    font-size: 30px;
    color: lightblue;
    padding-right: 20px;
    padding-left: 20px;
}
.nav-link .dropdown-toggle{
    color:white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;

    &:hover{
        color:#6cb2eb;
    }
}
.btn-outline-success {
    color: #6cb2eb;
    border-color: #6cb2eb;
}
button.navbar-toggler{
    background-color: lightgrey;

    &:hover{ background-color: red;}
}
#search{
    &:hover{
        background-color: #6cb2eb;
    }
}
footer{
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 15px;
    border-top: 5px solid black;
}
@media only screen and (max-width: 760px) {

}
@media only screen and (max-width: 370px) {

}
